@import "bootstrap.less";

.price {
  font-size: @font-size-large;

  .old {
    color: gray;
    text-decoration: line-through;
  }

  .new {
    color: #000;
  }
}

.circle {
  background: #000;
  width: 175px;
  height: 175px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.video {
  background: #5a6384;
  height: 300px;
}


.request {
  background: #5a6384;
  
  .bg {
    background: red;
    border-top: 3px solid #000;
  }
  h1 {

  }
  h2 {

  }
}

.apron-footer {
  background: #252525;
  color: @body-bg;
}

